@keyframes animacao {
    0% {scale: 1;}
    50% {scale: 1.2;}
    100% {scale: 1;}

}

:root {
    --fonte-estilosa: "Lobster Two";
    --fonte-principal: "Oswald"

}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #141414;
    font-family: var(--fonte-principal);
    font-weight: 300;

}

.cabecalho{
    width: 100%;
    height: fit-content;
    background: url(img/wpp.png) no-repeat center;
    background-size: cover;
    padding-bottom: 5em;

}

.cabecalho_img {
    display: flex;
    justify-content: center;

}

.img_logo {
    width: 20%;
    height: 20%;
    
}

.apresentacao-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.apresentacao {
    width: 500px;
    position: relative;
    margin: 50px;
    min-height: 300px;

}

.apresentacao-titulo {
    font-size: 2em;
    font-weight: 700;
    text-shadow: 1px 1px 8px #141414;
    font-family: var(--fonte-estilosa);
    padding-bottom: 1.2em;

}

.apresentacao-paragrafo {
    font-size: 1.3em;
    padding-top: 1.5em;

}

.secao_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: fit-content;

}

.formulario_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    min-width: 350px;

}

.formulario_titulo {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    font-weight: 500;
    text-shadow: 1px 1px 8px #141414;

}

.formulario_subtitulo {
    font-size: 1.1em;

}   

.formulario {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(224, 224, 224, 0.5);
    box-shadow: rgb(20, 20, 20) 0px 19px 38px, rgb(20, 20, 20) 0px 15px 12px;
    border-radius: 10px;
    width: 40%;
    height: 68%;
    max-width: 350px;
    min-width: 270px;

}

.formulario > div {
    position: relative;

}

.formulario label:not(.label_mensagem) {
    position: absolute;
    bottom: 18px;
    font-size: 1em;
    transition: all .5s ease;
    color: #141414;

}

.label_mensagem {
    color: #141414;

}

.formulario input:focus + label, .formulario input:hover + label, .formulario input:valid + label {
    color: #ff8f78;
    bottom: 37px;
    font-size: .7em;
    transition: all .5s ease;

}

.formulario_input {
    margin-bottom: 1em;
    margin-top: 0.5em;
    border: none;
    background: transparent;
    border-bottom: solid 1px #ff8f78;
    color: #141414;
    display: block;
    width: 100%;
    font-size: 1em;

}

.formulario_input:focus {
    border: none;
    outline: none;
    border-bottom: solid 1px #ff8f78;

}

.formulario_mensagem {
    height: 40%;
    font-size: 1.1em;

}

.formulario_botao {
    border-color: #e0e0e0;
    color: #141414;
    background: transparent;
    border: solid 1px #ff8f78;
    height: 1.8em;
    font-size: 1em;
    font-weight: 600;
    margin: .2em;
    transition-duration: 0.5s;

}

.formulario_botao:hover {
    border-style: none;
    transition-duration: 0.5s;
    background: #ff8f78;
    color: #e0e0e0;
    border-color: #141414;
    cursor: pointer;

}

.icone-whats {
    position: fixed;
    right: 30px;
    bottom: 30px;

}

.icone_img {
    width: 70px;
    height: 70px;
    animation-name: animacao;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

}

.conheca {
    width: 100%;
    background-image: url(img/fundo\ doodle.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.conheca_texto {
    color: #141414;
    font-weight: 700;
    font-size: 2em;
    padding: 3em;
    text-align: center;
    text-shadow: 1px 1px 8px #141414;

}

.servicos {
    width: 100%;
    height: fit-content;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;

}

.servicos_titulo {
    font-size: 3em;
    font-weight: 400;
    padding: 1em;
    color: #141414;
    text-shadow: 3px 3px 10px #141414;
    text-align: center;

}

.servicos_cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:space-evenly;
    align-items: center;

}

.card {
    width: 250px;
    min-width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.5);
    box-shadow: rgba(20, 20, 20, 0.25) 0px 14px 28px, rgba(20, 20, 20, 0.22) 0px 10px 10px;
    border-radius: 10px;
    padding-bottom: 1em;
    margin: 25px;
    transition-duration: .5s;

}

.card:hover {
    scale: 1.2;
    transition-duration: .5s;

}

.card_img {
    width: 250px;
    border-radius: 10px 10px 0 0;

}

.card_texto {
    padding: 1em;

}

.card_titulo {
    font-size: 1.5em;
    font-weight: 400;
    text-shadow: 1px 1px 5px #141414;

}

.card_paragrafo {
    font-size: 1.1em;

}


.rodape {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 500;

}

.rodape_icones {
    display: flex;

}

.icone {
    width: 40px;
    height: 40px;

}

.icone_face {
    background-image: url(img/icone-face-preto.svg);
    background-position: center;
    background-size: cover;
    transition-duration: .5s;

}

.icone_face:hover {
    background-image: url(img/icone-face-azul.svg);
    background-position: center;
    background-size: cover;
    scale: 1.1;
    transition-duration: .5s;

}

.icone_insta {
    background-image: url(img/icone-insta-preto.svg);
    background-position: center;
    background-size: cover;  
    transition-duration: .5s;

}

.icone_insta:hover {
    background-image: url(img/icone-insta-colorido.svg);
    background-position: center;
    background-size: cover;
    scale: 1.1;
    transition-duration: .5s;

}

.copy {
    font-size: .7em;
    font-weight: 300;

}

@media (max-width: 893px) {

    @keyframes face-icon {
        0% {background-image: url(img/icone-face-azul.svg);}
        50% {background-image: url(img/icone-face-preto.svg);}
        100% {background-image: url(img/icone-face-azul.svg);}

    }

    @keyframes insta-icon {
        0% {background-image: url(img/icone-insta-colorido.svg);}
        50% {background-image: url(img/icone-insta-preto.svg);}
        100% {background-image: url(img/icone-insta-colorido.svg);}

    }

    .img_logo {
        width: 60%;
        height: 60%;

    }

    .apresentacao {
        text-align: center;
        padding: 1em;
        min-height: 330px;

    }

    .icone_face {
        animation-name: face-icon;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        
    }
    
    .icone_insta {
        animation-name: insta-icon;
        animation-duration: 4s;
        animation-iteration-count: infinite;

    }

}