@import url(reset.css);
@import url(style.css);

.cabecalho {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    flex-direction: column;

}

.img_logo {
    width: 250px;
    height: 250px;

}

.agradecimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: fit-content;
    padding: 0 20px 0 20px;

}

.agradecimento_paragrafo {
    padding-bottom: 1em;

}

.agradecimento_botao {
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Oswald";
    padding: .7em;
    width: fit-content;
    height: fit-content;

}
